{% capture description %}
  {%- if product.empty? -%}
    {{ 'home_page.onboarding.product_description' | t }}
  {%- else -%}
    {{ product.description }}
  {%- endif -%}
{% endcapture %}
{%- if is_tab -%}
  {% assign title = 'products.product.description' | t %}
  {%- render 'tab', id: id, title: title, content: description -%}
{%- else -%}
  <div class="rte">
    {% if template == 'product.ajax' %}
      <h3 class="h4 product-desc">Product Description</h3>
    {% else %}
      <h2 class="h3 product-desc">Product Description</h2>
    {% endif %}
    {{ description }}
  </div>
{%- endif -%}
